@use '../abstracts/variables' as *;

@font-face {
    font-family: 'playfair';
    src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'playfair_italic';
    src: url('./assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'raleway';
    src: url('./assets/fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'raleway_italic';
    src: url('./assets/fonts/Raleway-Italic-VariableFont_wght.ttf');
}

h1 {
    font-size: 6rem !important;
    font-family: 'playfair';
}

h2 {
    font-size: 3rem !important;
    font-family: 'playfair';
}

h3 {
    font-size: 3rem !important;
    font-family: 'playfair';
}

h4 {
    font-size: 3rem !important;
    font-family: 'playfair';
}

h5 {
    font-size: 2rem !important;
    font-family: 'playfair';
}

@media screen and (max-width: 900px) {

    nav {
        .nav-left {
            justify-content: center;
            width: 100%;
        }
        .nav-right {
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .logo {
            width: 10vw;
        }
        .nav-right {
            display: flex;
            flex-direction: column;
        }
    }

    .home__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 3rem !important;
            text-align: center;
        }
    }

    .history {
        padding-top: 15vh;
    }

    .reinsurance {
        padding-top: 15vh;
        padding-bottom: 15vh;
    }
}