@use '../abstracts/variables' as *;

@font-face {
    font-family: 'playfair';
    src: url('../../fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'playfair_italic';
    src: url('../../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'raleway';
    src: url('./assets/fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'raleway_italic';
    src: url('../../fonts/Raleway-Italic-VariableFont_wght.ttf');
}

h1 {
    font-size: 6rem !important;
}

h2 {
    font-size: 3rem !important;
}