@import '../bootstrap/scss/functions';
@import '../bootstrap/scss/variables';

$primary: #0B181E;
$secondary: #F9B860;
$theme-colors: (
    'primary': $primary,
    'secondary': $secondary
);

$btn-border-radius: 0;
$input-border-radius: 0;

// carousel indicator btn

// $carousel-control-color:             $white !important;
// $carousel-control-width:             15% !default;
// $carousel-control-opacity:           .5 !default;
// $carousel-control-hover-opacity:     .9 !default;
// $carousel-control-transition:        opacity .15s ease !default;

// $carousel-indicator-width:           3000px !important;
// $carousel-indicator-height:          3000px !important;
// $carousel-indicator-border-radius:   100px !important;
// $carousel-indicator-hit-area-height: 10px !default;
// $carousel-indicator-spacer:          3px !default;
// $carousel-indicator-opacity:         .5 !default;
// $carousel-indicator-active-bg:       $white !default;
// $carousel-indicator-active-opacity:  1 !default;
// $carousel-indicator-transition:      opacity .6s ease !default;

// $carousel-caption-width:             70% !default;
// $carousel-caption-color:             $white !default;
// $carousel-caption-padding-y:         1.25rem !default;
// $carousel-caption-spacer:            1.25rem !default;
