@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as m;
@use '../abstracts/placeholders';

.home {
    background: url('./assets/images/hero-wrapper.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 135vh;
}