@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as m;
@use '../abstracts/placeholders';

.history {
    background-color: map-get($map: $colors, $key: 'primary');
    .history-info__container {
        height: 100%;
    }
}

@media (max-width: 480px) {

    .history {
        flex-direction: column;
        .history-info__container {
            width: 95% !important;
        }
        img {
            margin-top: 6vh;
            width: 100% !important;
        }
    }

}