@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as m;
@use '../abstracts/placeholders';


.carousel-item{
    background-color: #0B181E;
}

.carousel-indicators [data-bs-target]{
    border-radius: 100px !important;
    border: 1px solid white !important;
    background: transparent !important;
}   

.carousel-indicators .active{
    background-color: white !important;
}

